{% extends 'base.html.twig' %}

{% block title %}Administrateur Orange Blue - Permissions structure{% endblock %}
{% block body %}
<div class="container">  
  <div class="row justify-content-md-center">
    <div class="col-10">
      <h2>Liste des permissions pour [{{structure.user.nom}}]</h2>
      <div class="p-3 d-flex justify-content-end"><a href="{{ path('admin_add_structure_permissions', {'id': structure.id}) }}" class="btn btn-primary btn-sm">Gérer Permission</a></div>
      <table class="table align-middle mb-0 bg-white">
      <thead class="bg-light">
        <tr>
          <th>Permissions</th>
        </tr>
      </thead>
      <tbody>
      {% if structure.permission is not empty %}
        {% for permission in structure.permission %}
          <tr>
            <td>
              <div class="d-flex align-items-center">              
                <div class="ms-3">
                  <p class="fw-bold mb-1">{{permission.nom}}</p>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td colspan="5"><p class="text-center">Pas de liste des permissions</td>
          </tr>
          {% endif %}
      </tbody>
    </table>
    </div>
  </div>
</div>
{% endblock %}
